<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676771940075-a63ekvf3b0inmm5lsfnpepvp7sgqfvaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676771940075-a63ekvf3b0inmm5lsfnpepvp7sgqfvaf</string>
	<key>API_KEY</key>
	<string>AIzaSyCEQBpi5jR98Tc3I-Jvegz_c0_m8KPLqqI</string>
	<key>GCM_SENDER_ID</key>
	<string>676771940075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gmtta.appAlunoOnline</string>
	<key>PROJECT_ID</key>
	<string>app-aluno-online</string>
	<key>STORAGE_BUCKET</key>
	<string>app-aluno-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676771940075:ios:1e9c8d272a89aac32220ae</string>
</dict>
</plist>